@page "/ProfilPanel"
@using KorkiCorgi.DataTransferObjects
@using KorkiCorgi.Models
@using KorkiCorgi.Services

@inject ProfilPanelDtoService ProfilPanelDtoService

<PageTitle>Corgi</PageTitle>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nova+Mono&display=swap" rel="stylesheet">


<selection class="main-container">
    <section class="main-content"> 
        <div class="main-profile-header">
            <h1 class="main-title">
                ZAPISZ SIĘ NA KOREPETYCJE
            </h1>
            <h1 class="main-description">
                @ProfilDto.Description
            </h1>            
        </div>
        <div class="main-user-info">
            <img src="images/user-image.png" class="info-image"/>
            <h1 class="info-name">@(ProfilDto.Name + " "+ProfilDto.Surname)</h1>
            <div class="info-rate">
                <div class="info-prize">
                    <span class="info-prize-number">@ProfilDto.Cost</span>
                    <span class="info-prize-currency">zł</span>
                </div>
                <h1 class="info-time">za 60 minut</h1>
            </div>
            <button class="info-button">ZAPISZ SIĘ</button>
            <div class="info-image-container">
                <img src="images/heart.png" class="info-heart-img"/>
                <h1 class="info-hearts">@ProfilDto.AccountStatistics.OwnerRating</h1>
                <h1 class="info-hearts-description">PODZIĘKOWANIA</h1>
            </div>
            <div class="info-image-container">
                <img src="images/material.png" class="info-material-img"/>
                <h1 class="info-materials">@ProfilDto.AccountStatistics.TotalMaterialsCount</h1>
                <h1 class="info-materials-description">LICZBA MATERIAŁÓW</h1>
            </div>
            <button class="info-button">MATERIAŁY</button>
            <div class="info-lesson-details">
                <div class="info-online">
                    <h1 class="info-online-question">LEKCJA ONLINE</h1>
                    <h1 class="info-online-answer">@(ProfilDto.IsOnline? "Tak" : "Nie")</h1>
                </div>
                <div class="info-place">
                    <h1 class="info-place-question">MIEJSCE</h1>
                    <h1 class="info-place-answer">@ProfilDto.MeetingPlace</h1>
                </div>
            </div>
        </div>
    </section>

</selection>

<selection class="second-container">
    <img src="images/second-top-line.png" class="second-top-line" />
    
    kalendarz

    <img src="images/second-bottom-line.png" class="second-bottom-line" />
</selection>

<div class="third-background"></div>
<selection class="third-container">
    <div class="third-content">
        <h1 class="third-title">DAJESZ KORKI?</h1>
        <h2 class="third-subtitle color-cod-gray"><button class="button">DOŁĄCZ DO NAS</button></h2>
    </div>
    <div class="help-content">
        <h3 class="help-title">POMOC</h3>
        <h3 class="help-info">123 123 123</h3>
        <h3 class="help-info">Corgi@gmail.com</h3>
    </div>
    <h3 class="copyright">©Corgi</h3>
</selection>

@code {
    //TODO - Poszukać lepszej implementacji, szczególnie, że fajnie by rozróżniać do kogo należy dane ogłoszenie.
    //TODO - I ogólnie to się takie kiczowe wydaje, ale jest placeholder, który działa chociaż.
    //Jakby z głowy to albo przekazywać id adverta i znowu zapytanie robić tutaj, albo zrobić local storage. Więcej opcji nie znam obecnie.
    private ProfilPanelDto ProfilDto { get; set; } = new();
    protected override void OnInitialized() {
        ProfilDto = Services.ProfilPanelDtoService.ProfilDto;
    }
}
